name: Simple Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install 32bit headers
      run: sudo apt-get update && sudo apt-get install -y gcc-multilib
    - name: make test
      run: make test
